#tabsGestione {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabsGestione li {
  float: left;
  margin: 0 .5em 0 0;
}

#tabsGestione a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabsGestione a:hover,
#tabsGestione a:hover::after,
#tabsGestione a:focus,
#tabsGestione a:focus::after {
  background: #fff;
}

#tabsGestione a:focus {
  outline: 0;
}

#tabsGestione a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#tabsGestione #current a,
#tabsGestione #current a::after {
  background: #fff;
  z-index: 3;
}

#contentGestione {
  background: #fff;
  padding: 2em;
  position: relative;
  z-index: 2; 
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
  border-bottom: 1px solid #c8c9ca;
border-left: 1px solid #c8c9ca;
border-right: 1px solid #c8c9ca;
}

#spinnerGestione{
	margin-left: 50%;
}

.detailDiv {
background-color: #ddd;
padding: 20px;
margin-top: 10px;
border-radius: 10px;
}
 
.show_hide {
    display:none;
}

#detailSaveButton {
	margin-top: 10px;
}

#submittest {
padding-top: 15px;
display: -webkit-box;
text-align: right;
}

#FlgAbilitato {
vertical-align: top;
display: inline-block;
margin-left: 0.5em;
margin-right: 8.5em;
line-height: 1em;
}

.checkboxDelete{
	margin-top: 10px;
}
